*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-self: center;
}

.botao{
    width: 35px;
    align-items: center;
    box-shadow: 1.5px 1.5px 0px 1px #3b3939;
    border: 1px solid black;
    border-radius: 10px;
}

#butoes{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    
    
}

form{
    background-color: rgb(156, 146, 146);
    margin: 5em;
    padding: 20px;
    padding-bottom: 10em;
    border: 3px solid black;
    display: flex;
    justify-content: center center;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 10px 10px 0px 0px;
}

